@using Microsoft.AspNetCore.Identity
@using appdev.Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<ul class="navbar-item">

    @if(SignInManager.IsSignedIn(User)) 
    {
        <li class="nav-item" style="list-style-type: none">
            <a class="nav-link text-dark list-item" asp-area="Identity" asp-page="/Account/Manager/Index" >
                Xin chao @UserManager.GetUserName(User)!
            </a>
           
        </li>

        <li style="list-style-type: none"> 
             <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Logout" >Dang Xuat</a> 
        </li>
    }
    else {
        @* <li class="nav-item">
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Register" >Dang Ky</a>
            
            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login" >Dang Nhap</a>
        </li> *@

            @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="Identity" asp-page="/Account/Login">Login</a>
                        </li> *@
    }
    
</ul>   
